<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    {% for link in site.navigation %}
      <a {% if page.url == link.url %} class="list-group-item active" {% else %} class="list-group-item" {% endif %} href="{{link.url}}" title="{{link.title}}">{{link.text}}</a></li>
    {% endfor %}
  </div>
</div><!--/.sidebar-offcanvas-->

<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

</footer>
