<!DOCTYPE html>
<html>

{% include head.html %}

<body>
		{% include header.html %}
	<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9 main-content">

		{{ content }}

		</div>
		<!-- Side nav -->
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
		<!-- <div class="fixed"> -->
			{% if page.headings %}
				<div class="list-group">
					{% for heading in page.headings %}
					<a class="list-group-item" href="#{{ heading.link }}">{{ heading.title }}</a>
					{% endfor %}
				</div>
			{% endif %}
			<!-- </div> -->
		</div><!--/.sidebar-offcanvas-->
		</div>

		{% include footer.html %}
	</div>

<!-- Scroll-along back-to-top link -->
<!-- child of the body tag -->
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>
</span><!-- /top-link-block -->

</body>

</html>
